node_modules/
package-lock.json
.env
cypress/videos/
cypress/screenshots/
cypress/downloads/
*.log
.DS_Store
.vscode/
.idea/
output/
dist/
build/
coverage/
*.tsbuildinfo
cypress/reports/
cypress/results/
snapshots